<% include head %>

<div align="center">
    <h1>Elections</h1>
</div>

<div>
    <form method="post" action="/election">
        <table>
            <tr>
                <td>Name</td>
                <td>Percentage</td>
            </tr>
            <%
                if (user && user.election && user.election.length > 0) {
                    var electionTotal = 0;
                    user.election.forEach(function(el, el_index) {
            %>
            <tr>
                <td>
                    <input type="hidden" value="<%- el.id %>" name="id">
                    <select value="<%- el.invest_id %>" name="invest_id">
                        <option value="">Choose...</option>
                        <% if (tables && tables.invest) { Object.keys(tables.invest).forEach(function(id, invest_index) { %><option value="<%- id %>"<% if (el.invest_id === id) { %> selected<% } %>><%- tables.invest[id].name %></option><% });} %>
                    </select>
                </td>
                <td>
                    <input type="number" value="<%- el.percentage %>" name="percentage">
                    <% electionTotal += el.percentage %>
                </td>
                <td>
                    <a href="/delete_election/<%- el.id %>">X</a>
                </td>
            </tr>
            <%
                    }); // user.election.forEach()
                } // if (user.election.length)

                if (electionTotal !== 100) {
                    message = `<p class="msg error">Error: Election total needs to add up to 100</p>`;
                }
            %>
            <tr>
                <td colspan="2" align="right">
                    <a style="text-decoration:underline; color:blue; cursor:pointer;" onclick="document.getElementById('createElection').submit();">Create Election</a>
                </td>
            </tr>
        </table>
        <% if (user && user.election && user.election.length > 0) { %>
        <br>
        <input type="submit" value="Save">
        <% } %>
    </form>

    <form method="post" action="/create_election" id="createElection"></form>
</div>

<% include foot %>