<% include head %>

<div align="center">
    <h1>Summary</h1>
</div>

<table><tr><td align="left">
    <%
        if (user && user.contribution) {
            var section = [
                {
                    displayName: 'Investments',
                    tableName: 'invest',
                },
                {
                    displayName: 'Games',
                    tableName: 'game',
                },
            ];
    %>
    <table>
    <%
            section.forEach(function(sec, i) {
    %>
        <th colspan="2" align="left">
            <h3><%- sec.displayName %>:</h3>
        </th>
    <%
                var totalContribution = 0;
                var id = sec.tableName + '_id';
                user.contribution.forEach(function(c, index) {
                    if (c[id] !== 'undefined') {
                        totalContribution += c.amount;
    %>
        <tr style="background-color:ghostwhite">
            <td>
                <%- tables[sec.tableName][c[id]].name %>: 
            </td>
            <td align="right">
                $<%- c.amount %>
            </td>
        </tr>
    <%
                    } // if (id)
                }); // forEach(contribution)
    %>
        <tr>
            <td>
                <h3>Total:</h3>
            </td>
            <td align="right">
                <h3>$<%-totalContribution %></h3>
            </td>
        </tr>
    <%
            }); // forEach(section)
    %>
        <tr>
            <td colspan="2" align="center">
                <a href="/create_contribution">Contribute</a>
            </td>
        </tr>
    </table>
    <%
        } // if (user.contribution)

        if (user && user.goals) {
    %>
    <table>
        <th colspan="2" align="left">
            <h3>Goals:</h3>
        </th>
        <%
            user.goals.forEach(function(g, index) {
        %>
        <tr style="background-color:ghostwhite">
            <td>
                <%- g.name %>
            </td>
            <td>
                $<%- g.amount %>
            </td>
            <% if (g.finish_date) { %>
            <td>
                Complete!
            </td>
            <% } %>
        </tr>
        <%
            }); // forEach(goals)
        %>
    </table>
    <%
        } // if (user.goals)
    %>
</td></tr></table>

<% include foot %>